*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  background: #01f129;
  background-image: url("../image/Pesan-Turkebun-image.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 65% 680px;
}

.cancel{
  width: 30px;
  height: 30px;
  background-image: url("../image/Group 43.png");
  background-size: 30px 30px;
  background-position: center;
  margin: 30px 0 0 30px;
}

.Judul{
  width: 35%;
  height: 100%;
  margin: 30px 0 0 30px;
}


.Judul h1{
  font-family: "Gloss And Bloom";
  font-weight: normal;
  font-size: 62px;
  letter-spacing: 0.12em;
  line-height: 100px;
  text-align: left;
  color: #fff;
  box-sizing: border-box;
}

.Judul p{
  width: 300px;
  height: auto;
  font-family: Aldhabi;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}

.form{
  width: 90%;
  height: 160px;
  border-radius: 31px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  margin: 100px auto 0 auto;
  padding: 0 0 0 3.5%;
}

.templateInput {
  width: 14.7%;
  display: inline-block;
  font-family: Helvetica;
  font-size: 34px;
  line-height: 43px;
  margin: 2% 4.5%  0 0;

}

#lnama, #lemail, #ltanggal, #ljumlah{
  font-family: "Bebas";
}

#inama, #iemail, #itanggal, #ijumlah{
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-family: "Helvetica";
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
}

.pesan button{
  width: 13%;
  height: 70px;
  font-family: "Bebas";
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: #fff;
  border-color: #01f129;
  border-radius: 27px;
  background: #01f129;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  float: right;
  margin: -5% 5% 0 0;
  border: none;
}



/* .form label{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 34px;
  line-height: 43px;
  text-align: left;
  color: #000;
}

form{
  padding-top: 2.5%;
}

#lemail{
  margin-left: 15%;
}

#ltanggal{
  margin: 0 0 0 15%;
}

#ljumlah{
  margin-left: 15%;
}

#itanggal{
  margin: 0 6.5% 0 0;
}

#ijumlah{
  margin: 0 0 0 0;
}

.form input{
  width: 14.7%;
  height: 30px;
  font-size: 20px;
  font-family: "Helvetica";
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
  margin: 0 4.5% 0 0;
}

.form button{
  width: 200px;
  height: 70px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #fff;
  border-color: #01f129;
  border-radius: 27px;
  background: #01f129;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  float: right;
  margin: -2% 5% 0 0;
  border: none;
} */

@font-face {
  font-family: "Gloss And Bloom";
  src: url("Gloss_And_Bloom.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Aldhabi";
  src: url("aldhabi.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf");
}
