.board{
  width: 1920px;
  height: 1080px;
  background: #01f129;
  margin: auto;
  box-sizing: border-box;
}

.Judul h1{
  font-family: "Gloss And Bloom";
  font-weight: normal;
  font-size: 65px;
  letter-spacing: 0.12em;
  line-height: 129px;
  text-align: left;
  color: #fff;
  margin-left: 56px;
  box-sizing: border-box;
  padding-top: 156px;
}
.board{
  background-image: url("pesan tur hulu hilir.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1295px 829px;
  box-sizing: border-box;
}

.Paragraf {
  width: 347px;
  height: 373px;
  font-family: Aldhabi;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  overflow: hidden;
  margin-left: 56px;
  box-sizing: border-box;
}

.form{
  width: 1805px;
  height: 219px;
  border-radius: 31px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  margin: auto;
  margin-top: 105px;
}

.form label{
  margin-top: 42px;
  margin-left: 42px;
}

#lnama{
  width: 385px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 34px;
  line-height: 43px;
  text-align: left;
  color: #000;
  display: inline-block;

}
#lemail{
  width: 385px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 34px;
  line-height: 50px;
  text-align: left;
  color: #000;
  display: inline-block;
  margin-left: 64px;
}
#ltanggal{
  width: 260px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 34px;
  line-height: 50px;
  text-align: left;
  color: #000;
  display: inline-block;
  margin-left: 64px;
}

#ljumlah{
  width: 118px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 34px;
  line-height: 50px;
  text-align: left;
  color: #000;
  display: inline-block;
  margin-left: 64px;
}
#inama{
  width: 385px;
  height: 51px;
  font-size: 34px;
  font-family: "Helvetica";
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
  display: inline-block;
  margin-left: 42px;
}
#iemail{
  width: 385px;
  height: 51px;
  font-size: 34px;
  font-family: "Helvetica";
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
  display: inline-block;
  margin-left: 64px;
}

#itanggal{
  width: 260px;
  height: 51px;
  font-size: 34px;
  font-family: "Helvetica";
  text-align: center;
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
  margin-left: 64px;
}

#ijumlah{
  width: 118px;
  height: 51px;
  font-size: 34px;
  font-family: "Helvetica";
  text-align: center;
  border-radius: 14px;
  background: #fff;
  border: 1px solid #707070;
  margin-left: 60px;
}
#ipesan{
  width: 316px;
  height: 100px;
  border-radius: 27px;
  background: #01f129;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  margin-left: 60px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 71px;
  letter-spacing: 0.12em;
  line-height: 104px;
  color: #fff;
  text-align: center;
  display: inline-block;
  float: right ;
  margin-right: 54px;
  margin-top: -80px;
}

.cancel{
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: -150px;
}
