.mainboard{
  width: 1920px;
  height: 1080px;
  background: #01f129;
  margin: auto;
  box-sizing: border-box;
  background-image: url("Image 15.png");
  background-repeat: no-repeat;
  background-size: 1385px 1039px;
  background-position: right bottom;
  overflow: hidden;
}

.board1{
  width: 1920px;
  height: 283px;
  background: #fff;
  overflow: hidden;
}

.board1 .judul{
  font-family: "Gloss And Bloom";
  font-weight: normal;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #255c01;
  transform: rotate(-6deg);
}

.board1 .navigasi{
  text-align: center;
}

.board1 .navigasi a{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-right: 173px;
  text-decoration: none;
  color: #255c01;
}
}
.board2{
  width: 625px;
  height: 829px;
  background: #01f129;
  overflow: hidden;
  box-sizing: border-box;
  float: left;
}

.board2 .Judul h1{
  font-family: "Gloss And Bloom";
  font-weight: normal;
  font-size: 72px;
  letter-spacing: 0.12em;
  line-height: 129px;
  text-align: left;
  color: #fff;
  margin-top: 80px;
  margin-left: 70px;
}

.board2 .Paragraf{
  width: 347px;
  height: 427px;
  font-family: Aldhabi;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  overflow: hidden;
  margin-top: -50px;
  margin-bottom: -75px;
  margin-left: 70px;

}

.pesan{
  width: 395px;
  height: 134px;
  background: #2B2C29;
  margin-left: 400px;
  margin-top: 50px;
}

.pesan p{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 103px;
  letter-spacing: 0.12em;
  line-height: 184px;
  text-align: center;
  color: #fff;
}

.next{
  float: right;
  margin-top: -250px;
  margin-right: 50px;
}
