*{
  margin: 0;
  padding: 0;
}
.mainboard{
  width: 100%;
  height: auto;
  margin: 0;
}

.board1{
  width: 100%;
  height: 255px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.board1 .judul{
  width: 30%;
  font-family: "Gloss And Bloom";
  font-weight: normal;
  font-size: 33px;
  line-height: 59px;
  text-align: center;
  color: #255c01;
  transform: rotate(-6deg);
  margin: 2.5% auto 0 auto;
}

.board1 #login{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 0.15em;
  text-align: center;
  color: #fff;
  background-color:  #255c01;
  width: 96.52px;
  height: 42.37px;
  border-radius: 30px;
  border: 0;
  float: right;
  cursor: pointer;
  margin: 1% 1% 0 0;
}

.board1 .navigasi{
  width: 100%;
  height: 40px;
  background-color: white;
  padding-top: 8px;
  margin: 1% 0 0 0;
}

.board1 .navigasi a{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 0.15em;
  margin: 0 4% 0 4%;
  text-align: center;
  text-decoration: none;
  color: #255c01;
  display: inline-block;
}

.board1 .navigasi .wisata{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 0.15em;
  margin: 0 4% 0 4%;
  text-align: center;
  text-decoration: none;
  color: #255c01;
  display: inline-block;
}

.board1 .navigasi .tiket{
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 0.15em;
  margin: 0 4% 0 4%;
  text-align: center;
  text-decoration: none;
  color: #255c01;
  display: inline-block;
}

.keranjang{
  float: right;
  margin: 0 2.5% 0 -2.5%;
}

.keranjang img{
  width: 30px;
  height: 30px;
}

.board1 .navigasi .navigasi-content, .board1 .tiket .navigasi-content{
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 620px;
  height: 170px;
  margin: 0 0 0 8%;
  padding-top: 13px;
}

.board1 .navigasi .navigasi-content td{
  width: 210px;
  color: #255c01;
  text-align: left;
  text-decoration: none;
}

.board1 .navigasi .navigasi-content table, {
  margin: 13px 0 0 10px;
}

.board1 .wisata:hover .navigasi-content,.board1 .tiket:hover .navigasi-content {
  display: block;
}

.board1 .tiket .navigasi-content{
  width: 360px;
  height: 100px;
  margin-left: 60%;
}

.board2{
  width: 100%;
  height: 585px;
  margin: auto;
  border-bottom: 3px solid black;
}

.board2 .konten1{
  width:55%;
  height:100%;
  float: left;
}

.board2 .konten1 .subkonten1{
  margin: 5% 0 0 5%;
}

.board2 .konten1 #judul {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 53px;
  text-align: left;
  color: #000;
  margin: 0px;
}

.board2 .konten1 #tanggal {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 21px;
  text-align: left;
  color: #000;
  margin: 0px;
}

.board2 .konten1 #isi {
  width: 645px;
  height: 300px;
  font-family: "Aldhabi";
  font-weight: normal;
  font-size: 53px;
  line-height: 59px;
  text-align: left;
  color: #000;
}

.board2 .konten2{
  width: 45%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.board2 .subkonten2 {
  width: 860px;
  height: 427px;
  background-image: url();
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#img1{background-image: url("Image 24.png");}
#img2{background-image: url("Image 25.png");}
#img3{background-image: url("Image 26.png");}

@font-face {
  font-family: "Gloss And Bloom";
  src: url("Gloss_And_Bloom.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Aldhabi";
  src: url("aldhabi.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf");
}
